<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.js"></script>
    <script src="dist/swim-generator.umd.js"></script>
    <style>
      .swim-generator--label {
        padding-left: 1em;
      }
      .swim-generator--controls {
        padding-top: 1em;
      }
    </style>
  </head>
  <body>
    <div class='swim-generator'>
      <h1>Swim Generator 5500</h1>
      <div class='swim-generator--input'>
        <div class='swim-generator--time-input'>
          <input id="timeInput" type="number" value='30' />
          <span class="swim-generator--time-input--label">Minutes</span>
        </div>
        <div class='swim-generator--controls'>
          <button onclick="generate()">submit</button>
        </div>
      </div>
      <h2 id="time" class="swim-generator--time"></h2>
      <ul id="workout" class="swim-generator--workout"></ul>
    </div>
    <script>
      var templateString = '<li><%- number %>x<%- length %> <%- type %> @ <%- formatTime(time) %></li>'

      var compiledTemplate = _.template(templateString);

      function formatTime(sec_num) {
        var minutes = Math.floor(sec_num / 60);
        var seconds = sec_num - (minutes * 60);

        return _([minutes, seconds])
          .map(function(timeUnit) { return timeUnit < 10 ? "0" + timeUnit : timeUnit; })
          .join(':');
      }

      function generate() {
        var timeInSeconds = document.getElementById("timeInput").value * 60;
        var workout = swimGenerator.generateWorkout(timeInSeconds);

        var timeDiv = document.getElementById("time");
        timeDiv.innerHTML = "Total Time: " + formatTime(workout.seconds);

        var workoutDiv = document.getElementById("workout");
        var workoutMarkup = _.map(workout.intervals, compiledTemplate).join(' ');
        console.log(workoutMarkup);
        workoutDiv.innerHTML = workoutMarkup;
      }
    </script>
  </body>
</html>
